body {
	background-color: black;
	color: #222;
	font-family: Trebuchet MS; /* The font used for the main apps */
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.site {
	width: 810px;
}

.site img{
	width: 140px;
}

