/* line 13, ../sass/site.sass */
* {
  margin: 5px 0 0 0;
  padding: 0;
}

/* line 17, ../sass/site.sass */
html, body {
  height: 100%;
}

/* line 20, ../sass/site.sass */
body {
  background-color: white;
  font: 400 1em trebuchet ms, arial, clean;
  text-align: center;
}

/* line 25, ../sass/site.sass */
h1, h2, h3, h4, h5, h6 {
  font-size: 110%;
  margin: 30px 0 10px 0;
  text-transform: uppercase;
}

/* line 30, ../sass/site.sass */
h3 {
  margin: 20px 0 10px 0;
}

/* line 33, ../sass/site.sass */
h1 {
  font-size: 120%;
}

/* line 36, ../sass/site.sass */
h2, h3, h4, h5, h6 {
  font-size: 110%;
}

/* line 39, ../sass/site.sass */
#sitetitle {
  font: 400 3.5em arial, sans-serif;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  height: 1.15em;
}
/* line 44, ../sass/site.sass */
#sitetitle a {
  color: #bdbbbb;
  text-decoration: none;
  border-bottom: 0px;
}

/* line 49, ../sass/site.sass */
#tagseperator {
  font-size: 3.5em;
  color: #bdbbbb;
}

/* line 53, ../sass/site.sass */
#tagline {
  font-size: 0.9em;
  color: #bdbbbb;
}

/* line 57, ../sass/site.sass */
a#navlink, a#archivelink {
  padding-right: 10px;
  text-transform: uppercase;
  border-bottom: 0px dotted #0048a2;
}

/* line 62, ../sass/site.sass */
a#navlink:hover {
  color: #3366cc;
}

/* line 65, ../sass/site.sass */
a#archivelink {
  float: right;
}

/* line 68, ../sass/site.sass */
.title {
  margin-bottom: 10px;
}

/* line 71, ../sass/site.sass */
.nav {
  margin-bottom: 40px;
  border-bottom: 2px solid #bdbbbb;
}

/* line 75, ../sass/site.sass */
p {
  margin: 1em 0;
}

/* line 78, ../sass/site.sass */
a {
  color: #0048a2;
  text-decoration: none;
  border-bottom: 1px dotted #0048a2;
}

/* line 83, ../sass/site.sass */
a.blog {
  border-bottom: 0px;
}

/* line 86, ../sass/site.sass */
a.blog-small {
  border-bottom: 0px;
  float: left;
  margin-left: 10px;
}

/* line 91, ../sass/site.sass */
a:hover {
  color: #3366cc;
  border-bottom: none;
}

/* line 95, ../sass/site.sass */
table {
  font-size: inherit;
  font: 100%;
}

/* line 99, ../sass/site.sass */
img {
  border: 0px dotted #dddddd;
}

/* line 103, ../sass/site.sass */
ul li, ol li {
  margin-left: 40px;
}

/* my posts */
/* line 107, ../sass/site.sass */
ul.posts {
  margin: 1em;
  list-style-type: none;
}
/* line 110, ../sass/site.sass */
ul.posts li {
  line-height: 1.6em;
}
/* line 112, ../sass/site.sass */
ul.posts span {
  font-size: 80%;
  color: #bdbbbb;
}

/* line 116, ../sass/site.sass */
ul.archiv {
  margin: 1em;
  list-style-type: none;
}
/* line 119, ../sass/site.sass */
ul.archiv li {
  line-height: 1.5em;
  margin-left: 15px;
}

/* line 123, ../sass/site.sass */
.site {
  font-size: 100%;
  text-align: justify;
  width: 40em;
  margin: 0 auto 3em auto;
  line-height: 1.4em;
}
/* line 130, ../sass/site.sass */
.site .footer {
  font-size: 70%;
  border-top: 4px solid #bdbbbb;
  margin-top: 10px;
}
/* line 134, ../sass/site.sass */
.site .footer a {
  text-decoration: none;
  border-bottom: 0px dotted #0048a2;
}

/* Posts */
/* line 140, ../sass/site.sass */
#post pre, .site pre {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  font: 15px helvetica, arial, clean, sans-serif;
  padding: 0 0.4em;
  white-space: pre-wrap;
}
/* line 146, ../sass/site.sass */
#post code, .site code {
  font-size: 105%;
  border: 1px dotted #888888;
  background-color: #ffff88;
  padding: 0 0.2em;
  display: inline-block;
}
/* line 152, ../sass/site.sass */
#post .highlight code, .site .highlight code {
  border: none;
  background-color: #eeeeff;
}

/* Miscleanous */
/* line 157, ../sass/site.sass */
span.tweet {
  float: right;
  margin-top: 5px;
}
/* line 160, ../sass/site.sass */
span.tweet a {
  text-decoration: none;
  border-bottom: none;
  font-style: italic;
}

/* line 165, ../sass/site.sass */
.author {
  font-size: 80%;
  color: #bdbbbb;
  margin: 0 0 1em 0;
  float: right;
}
/* line 170, ../sass/site.sass */
.author a {
  text-decoration: none;
  border-bottom: none;
  font-style: italic;
}

/* line 175, ../sass/site.sass */
#disqus_thread {
  margin: 2em 0 0 0;
}

/* line 178, ../sass/site.sass */
.clearer {
  clear: both;
}
